kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: keycloak-admin
  labels:
    app: keycloak
spec:
  to:
    kind: Service
    name: keycloak-service
  tls:
    termination: passthrough
    insecureEdgeTerminationPolicy: Redirect
  host: "{{ keycloak.management_route.subdomain }}.{{ domain_name }}"
  port:
    targetPort: management
